/* CSS declarations go here */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

/*MENU*/
.nav {
  font-family: "Amatic SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#login-buttons {
  font-weight: bold;
  font-size: 24px !important;
  padding: 15px;
  font-size: 14px;
  line-height: 20px;
}

#login-dropdown-list {
  position: absolute;
  left: -180px;
}

.login-close-text {
  position: relative;
  float: right !important;
}

.navbar-brand {
  font-size: 32px;
  font-weight: bold;
}

.nav li {
  font-size: 24px;
  font-weight: bold;
}

/* COMMON */
.mainpage {
    font-family: "Amatic SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 1200px;
    background-image:url('http://www.bebonomo.dk/billeder/bebodkBG.png');
    background-size: 500px;
    background-repeat: repeat;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,.5);
}

.btn {
  border: 2px solid #666666;
  border-radius: 4px;
  font-weight: bold;
}

.headercontainer {
  font-family: "Amatic SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  margin: 10px auto 10px auto;
}

.headercontainer h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 10px !important;
}

/*NAMEGENERATOR*/
.welcometext {
  text-align: center;
  margin: 10px auto 10px auto;
}

.nameGenerator {
  text-align: center;
}

p {
  font-size: 24px !important;
  font-weight: bold;
}

.name_holder {
  width: 200px !important;
  height: 60px !important;
  margin: auto;
  padding: 10px 10px;
  display: block;
  text-align: center;
  font-size: 32px;
  vertical-align: text-top !important;
  font-weight: bold;
}

.start-btn {
    background-color: #dddddd;
    height: 50px;
    width: 80.9px;
    margin: 10px 5px;
    font-size: 24px !important;
}

.favorite-btn {
    background-color: #84cfc5;
    height: 50px;
    width: 80.9px;
    margin: 10px 5px;
    font-size: 24px !important;
}

.reject-btn {
    background-color: #f7aebc;
    height: 50px;
    width: 80.9px;
    margin: 10px 5px;
    font-size: 24px !important;
}

/*FAVORITE LIST*/

.list-group-item {
  line-height: 40px;
  font-size: 24px !important;
  font-weight: bold;
  margin: 5px auto;
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 400px;
}

.remove-btn {
    background-color: #f7aebc;
    font-size: 18px !important;
    font-weight: bold;
}
